motor_driver_node:
  ros__parameters:
    # Wheel & Encoder Parameters
    # Default: 8 inches wheel
    ###############################
    # Wheel radius
    left_wheel_radius: 0.09767 # meter
    right_wheel_radius: 0.09767 # meter
    # For odometry computation
    computation_left_wheel_radius: 0.0960 # meter
    computation_right_wheel_radius: 0.0964 # meter
    # Encoder CPR(counts per revolution)
    cpr: 16385
    ###############################

    # Distance between Wheels
    wheels_base_width: 0.568 #0.6048 # meter 1, 0.57 2, 
    # Motor automatically stops if no topics are received for a certain period of time
    callback_timeout: 0.5 # seconds

    # Time to reach target position
    set_accel_time_left: 500 # ms
    set_accel_time_right: 500 # ms
    set_decel_time_left: 500 # ms
    set_decel_time_right: 500 # ms

    # Maximum rpm
    max_left_rpm: 160
    max_right_rpm: 160
    # Width of rpm to be regarded as 0
    # If 3, then -3 to 3 is considered rpm 0
    deadband_rpm: 3

    # Max speed = {max_rpm * (2pi/60)} * wheel_radius = m/s
    # Max speed = {162 * (2pi/60)} * 0.09767 = 1.656 m/s = 5.962 km/h
    # Tsukuba: Less than 6 km/h

